/* For tablet - aka mid sized */
@media(min-width:600px) and (max-width: 900px){
  body{
    background: lightgreen;
  }

  .content{
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .postcard{  /* limit the width of the element on wider screens */
    border: 1px solid blueviolet;
    width: 200px;
  }
}